

<mat-nav-list class="example-sidenav" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">

    <!-- <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing">Parent Menu</span>
        <mat-icon mat-list-icon>home</mat-icon>
        <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
    </mat-list-item> -->
    <mat-divider></mat-divider>

    <div *ngIf="loggedIn">
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">Dashboard</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/consumers">Consumers Details</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/searchconsumer">Search Consumer</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/create">Create</a>
    </div>
    <mat-divider></mat-divider>

    <!-- <div *ngIf="!loggedIn"> -->
        <!-- <h2 matSubheader>Authentication</h2> -->

        <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/login">  -->
    <!-- <mat-icon>import_contacts</mat-icon> -->
            <!-- Login -->
        <!-- </a> -->
    <!-- </div>  -->
    

    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a> -->

</mat-nav-list>