
            <form [formGroup]="searchForm" (ngSubmit)="submit()">
                <div class="form-gorup">
                    <label class="left-border px-2"><strong>
                            Search consumer</strong></label>
                    <hr class="mt-0">
                </div>
                <div class="column col-12 px-0">
                    <div class="row">
                        <div class="col-12 col-sm-10 col-lg-6 col-xl-4 py-2">
                            <label class="mb-0">RR Number</label>
                            
                            <input type="text" class="form-control col-12" placeholder="Enter rrnumber"
                                formControlName="RRNumber" id="rrnum" maxlength="10">
                        </div>
                        
                    </div>
                </div>

                

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-right my-3">
                  
                    <button type="submit" class="btn btn-warning" id="Submit-UpdateAssessment">Search</button>
                </div>
            </form>
            <br>
            <br>
            <div>
                <app-widget-area [data]="bigChart"></app-widget-area>
            </div>
            
            
            