
 <!-- <h4>Basic mat-select</h4>   -->
 <div class="row col-12">
    <label class="col-2 px-2">Select Month:</label>
    
<select class="col-2" (change)="onSelectMonth($event)">
 <option *ngFor="let item of MonthArray" [value]="item.value">
   {{ item.viewValue }}
 </option>
</select>
</div>
<div>

 <app-widget-barchart [data]="bigChart"></app-widget-barchart>
</div>

<br>

<mat-divider></mat-divider> 

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" >
 <mat-card fxFlex="25">
     <app-widget-card label="Total Consumption of Consumers" total="80k"  ></app-widget-card>
 </mat-card>
 <mat-card fxFlex="25">
     <app-widget-card label="Total Loss" total="20k" ></app-widget-card>
 </mat-card>
 <mat-card fxFlex="25">
     <app-widget-card label="Payment Due" total="30k" ></app-widget-card>
 </mat-card>

</div>

<br>

<mat-divider></mat-divider>

<br>

<!-- <button id="print" (click)="printData()">Click to print</button> -->

<br>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
 
 <div fxFlex="40">
     <app-widget-pie style="align-items: center;" [data]="pieChart"></app-widget-pie>
 </div>
</div>

<br>
<br>
<br>