<form [formGroup]="searchForm" (ngSubmit)="submit()">
    <div class="form-gorup">
        <label class="left-border px-2"><strong>
                Search consumer</strong></label>
        <hr class="mt-0">
    </div>
    <div class="column col-12 px-0">
        <div class="row">
            <div class="col-12 col-sm-10 col-lg-6 col-xl-4 py-2">
                <label class="mb-0">RR Number</label>

                <input type="text" class="form-control col-12" placeholder="Enter Your RR Number"
                    formControlName="RRNumber" id="rrno" maxlength="10">
            </div>

        </div>
        
    </div>



    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center my-3">

        <button type="submit" class="btn btn-warning" id="Submit-UpdateAssessment">Search</button>
    </div>
</form>
<br>
<br>
<div>

    <div>
        {{consumerData.c_id}}
    </div>

    <div>
        {{consumerData.name}}
    </div>
    <div>
        {{consumerData.contact}}
    </div>
    <div>
        {{consumerData.address}}
    </div>
    <div>
        {{consumerData.rrno}}
    </div>

</div>
<br>
<mat-divider></mat-divider> <mat-divider></mat-divider><mat-divider></mat-divider><mat-divider></mat-divider><mat-divider></mat-divider>
<br><br><br>

    <div *ngIf="yearConsumption.length">
        <app-widget-barchart [data]="yearConsumption" [chartOp]="yearlyConsumptionChartOption"></app-widget-barchart>
    </div>
    <br>

    <mat-divider></mat-divider> <mat-divider></mat-divider><mat-divider></mat-divider><mat-divider></mat-divider><mat-divider></mat-divider>
    <br><br><br>
    
    <div *ngIf="monthConsumption.length">
        <app-widget-barchart [data]="monthConsumption" [chartOp]="monthlyConsumptionChartOption"></app-widget-barchart>
    </div>
    <mat-divider></mat-divider> <mat-divider></mat-divider><mat-divider></mat-divider><mat-divider></mat-divider><mat-divider></mat-divider>
    <br><br><br>

    <div *ngIf="dayConsumption.length">
        <app-widget-line [data]="dayConsumption" [chartOp]="dailyConsumptionChartOption"></app-widget-line>
    </div>


