// body {
//   margin: 0;
//   padding: 0;
//   background: #DDD;
//   font-size: 16px;
//   color: #222;
//   font-family: 'Roboto', sans-serif;
//   font-weight: 400;
// }


.container {
  
  
  //  box-sizing: border-box;
  padding: 30px;
  text-align: center;
  align-content: center;
  position: relative;
  margin: 5% auto;
  width: 600px;
  height: 400px;
  background:transparent;
  //  border-radius: 2px;
  //  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  
}

h2 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
}

.bg-container{
  background-color: #efefef;
  min-height: 40vh;
  border-radius: 6px;
}
.input-feild{
  height:40px;
  border:1px solid grey;
  border-radius:4px ;

}