<!-- <div class="app-body">
	<main class="main d-flex align-items-center">
		<div class="container">
			<div class="row">
				<div class="col-md-6 mx-auto">
					<div class="card mx-4">
						<div class="card-body p-4">
							<form [formGroup]="addForm" (ngSubmit)="onSubmit()">
								<div class="form-row">
									<h1>Create your account</h1>
									<br>
									<br>
									 <p class="text-muted"></p>
									<div class="form-group col-5">
										<label>Name</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<input type="text" formControlName="name" class="form-control"
											[ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
										<div *ngIf="submitted && f.name.errors" class="invalid-feedback">
				
											<div *ngIf="f.name.errors.required "> Name is required</div>
										</div>
									</div>
								</div>
								<br>

								<div class="form-group">
									<label>Contact</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									
									<input type="text" formControlName="contact" class="form-control"
										[ngClass]="{ 'is-invalid': submitted && f.contact.errors }" />
									<div *ngIf="submitted && f.contact.errors" class="invalid-feedback">
										<div *ngIf="f.contact.errors.required">Contact Number is required</div>

									</div>
								</div>
								<br>

								<div class="form-group">
									<label>E-Mail Id</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									
									<input type="text" formControlName="email" class="form-control"
										[ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
									<div *ngIf="submitted && f.email.errors" class="invalid-feedback">
										<div *ngIf="f.email.errors.required">E-Mail id is required</div>

									</div>
								</div>

								<br>
								
								<div class="form-group">
									<label>Address</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<input type="text" formControlName="address" class="form-control"
										[ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
									<div *ngIf="submitted && f.address.errors" class="invalid-feedback">
										<div *ngIf="f.address.required">Address is required</div>

									</div>
								</div>
								<br>

								<div class="form-group">
									<label>RR Number</label>&nbsp;&nbsp;&nbsp;
									<input type="text" formControlName="rr_no" class="form-control"
										[ngClass]="{ 'is-invalid': submitted && f.rr_no.errors }" />
									<div *ngIf="submitted && f.rr_no.errors" class="invalid-feedback">
										<div *ngIf="f.rr_no.required">RR Number is required</div>

									</div>
								</div>
								<br>

								<div class="text-center">
									<button class="btn btn-primary mr-1">Submit</button>&nbsp;&nbsp;&nbsp;
									<button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</div> -->

<div class="main-div">

	<mat-card-content>
		
			<form [formGroup]="addForm" (ngSubmit)="onSubmit()" class="my-form">
			
		   <mat-form-field class="full-width" >
				  <mat-label>Enter Your Name</mat-label>
				  <input  matInput  placeholder="Mr/Ms XYZ"  formControlName="name" required
				  [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
				  <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
				
					<div *ngIf="f.name.errors.required "> Name is required</div>
				</div>
			</mat-form-field>

			<br><br>

			<mat-form-field class="full-width" >
				<mat-label>Enter Your Contact Number</mat-label>
				<input  matInput  placeholder="+91 9XXXXXXXX8"  formControlName="contact" required
				[ngClass]="{ 'is-invalid': submitted && f.contact.errors }" />
				<div *ngIf="submitted && f.contact.errors" class="invalid-feedback">
			  
				  <div *ngIf="f.contact.errors.required "> Contact Number is required</div>
			  </div>
		  </mat-form-field>

		  <br><br>

		  <mat-form-field class="full-width" >
			<mat-label>Enter Your Email-Id</mat-label>
			<input  matInput  placeholder="an@gmail.com"  formControlName="email" required
			[ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
			<div *ngIf="submitted && f.email.errors" class="invalid-feedback">
		  
			  <div *ngIf="f.email.errors.required "> Email id  required</div>
		  </div>
	  </mat-form-field>

	  <br><br>

	  <mat-form-field class="full-width" >
		<mat-label>Enter Your Current Address</mat-label>
		<input  matInput  placeholder="#12XYZ"  formControlName="address" required
		[ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
		<div *ngIf="submitted && f.address.errors" class="invalid-feedback">
	  
		  <div *ngIf="f.address.errors.required "> Address is required</div>
	  </div>
  </mat-form-field>

  <br><br>


  <mat-form-field class="full-width" >
	<mat-label>Enter Your RR Number</mat-label>
	<input  matInput  placeholder="RRXXXX01"  formControlName="rr_no" required
	[ngClass]="{ 'is-invalid': submitted && f.rr_no.errors }" />
	<div *ngIf="submitted && f.rr_no.errors" class="invalid-feedback">
  
	  <div *ngIf="f.rr_no.errors.required "> RR Number is required</div>
  </div>
</mat-form-field>

<br><br>	      

			   <!-- <mat-form-field class="full-width">
				  <mat-label>Password</mat-label>
				  <input  matInput  placeholder="Password"  name="password">
			   </mat-form-field><br><br> -->
		
		<mat-card-actions>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<button mat-raised-button (click)="onSubmit()" color="primary">Submit</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<button mat-raised-button (click)="onReset()" color="primary">Cancel</button>
		  </mat-card-actions>
		</form>
	  </mat-card-content>
	  </div>