.my-form{
  // background-color: honeydew;
  margin-top: 20px;
  align-content: center;
  justify-content: center;
  justify-self: center;
   min-width: 350px;
   max-width: 700px;
   width: 100%;
   align-items: center;
  
}
 
.full-width {
  width: 100%;
  font-size: 17px;
  
  
}
.main-div{
  height: 80vh;
  // background-color: honeydew;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button{
  display: flex;
  justify-content: center;
  align-items: center;
}
::ng-deep .mat-card-content{

  border: 55px !important;
  border-radius: 30px !important;
  border: #000 !important;
 }