
.error{
  color: tomato; 
  font-size: 12px; 
  padding-top: 4px
}
.container {
  font-size: 20px;
  text-align: center;
  padding: 50px;
  position: relative;
  margin: 5% auto;
  width: 400px;
  height: 200px;
  background: #FFF;
  border-radius: 2px;
   
}
